%div{'data-role'=> 'page', 'data-dialog'=>"true"}
  %div{"data-role" => "header"}
    %h1
      Sign up
  .ui-content{role: "main"}  
    =render 'layouts/mobile/messages'

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      .ui-field-contain
        %label{for:'username'}
          Username
        = f.text_field :username,:autofocus => true, placeholder: 'Username'
      .ui-field-contain
        %label{for:'email'}
          Email
        = f.email_field :email, :autofocus => true, placeholder: 'Email'        
      .ui-field-contain
        %label{for:'password'}
          Password
        = f.password_field :password, placeholder: 'Password'
      .ui-field-contain
        %label{for:'password_confirmation'}
          Password Confirmation
        = f.password_field :password_confirmation, placeholder: 'Confirm Password'
      .ui-field-contain
        = render 'shared/recaptcha'
        = recaptcha_tags :display=>{:theme=>'custom', custom_theme_widget: 'recaptcha_widget'}
      .ui-field-contain
        = f.submit "Register", class: 'btn-u btn-block', 'data-ajax'=> false

   
