%div{'data-role'=> 'page', 'data-dialog'=>"true", 'data-url'=> "#{request.path}"}
  %div{"data-role" => "header"}
    %h1
      Sign up / Login
  .ui-content{role: "main"}
    =render 'layouts/mobile/messages'
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .ui-field-contain
        %label{for:'user[login]'}
          Login
        = f.text_field :login, :autofocus => true, placeholder:'Username or email'        
      .ui-field-contain
        %label{for:'user[password]'}
          Password
        = f.password_field :password, class: 'form-control', placeholder: 'Password'
      - if devise_mapping.rememberable?
        %label.checkbox
          = f.check_box :remember_me
          Stay signed in
      = f.submit "Sign in", class: 'btn-u pull-right'
    =link_to 'Sign up', new_user_registration_path, class: 'ui-btn ui-shadow ui-corner-all ui-btn-a', 'data-ajax'=> false


