-#.panel.panel-default.post_panel
.mob-post-container
	.row
		.col-xs-1{style:'padding-left:15px; padding-right:25px; '}
			.row
				.mobile-vote
					=button_to(upvote_post_path(p), remote:true, form:{'data-ajax'=>false}, class: 'mobile-upvote-btn', 'data-role'=>'none')  do
						%div{class: "#{'upvoted' if user_signed_in? && current_user.voted_up_on?(p)}", id: "mob-upvote-#{p.id}"}
							=fa_icon "chevron-up"
			.row
				.col-xs-1
					%strong{id: "mob-netvote-#{p.id}", class: "#{'upvoted' if user_signed_in? && current_user.voted_up_on?(p)} #{'downvoted' if user_signed_in? && current_user.voted_down_on?(p)} "} 
						.mobile-net-vote
							=p.likes.size-p.downvotes.size
			.row
				.mobile-vote
					=button_to(downvote_post_path(p), remote:true, form:{'data-ajax'=>false}, class: 'mobile-downvote-btn', 'data-role'=>'none') do
						%div{class: "#{'downvoted' if user_signed_in? && current_user.voted_down_on?(p)}", id: "mob-downvote-#{p.id}"}
							=fa_icon "chevron-down"
				#post-ajax-chk
		.col-xs-8{style:'padding-left:10px;padding-right:0px;'}
			=link_to "#{p.title}", p, class: 'mobile-title-link', 'data-ajax'=>false
			-if p.source?
				%span.source_link
					(
					=p.source
					)
			.row.post_footer
				.col-xs-12
					.submited_ago_cont
						=time_ago_in_words(p.created_at)
						ago by
						%strong 
							%span
								=link_to p.user.username, p.user, class: 'mobile-user-link'
						-if p.tribe
							to
							%strong
								=p.tribe.name
						-if user_signed_in?
							=link_to "report", report_post_path(p), method: :post, class: 'mobile-report-post'
						
						-if user_signed_in? && current_user_poster?(p)
							=link_to "delete", delete_post_path(p), method: "delete", class: 'delete-post'
			.row
				.col-xs-12
					.mobile-comment-cont
						Votes-
						(
						%span{id:"mob-total-upvote-#{p.id}"}
							=p.likes.size
						='/'
						%span{id:"mob-total-downvote-#{p.id}"}
							=p.downvotes.size
						)
						&nbsp
						|
						&nbsp		
						(
						=pluralize(comment_count(p.id), 'comment')
						)
		.col-xs-1.mobile-img-cont
			-pic_height = 55
			- if p.pic.url(:thumb) != '/pics/thumb/missing.png'
				=image_tag p.pic.url(:thumb), alt: 'post photo', height:pic_height, class: 'post-img'
			-else 
				=image_tag 'lamp_post.jpg', alt:'post photo', height:pic_height, class: 'post-img'
			
	.clearfix
:javascript
	$('a.native-anchor').bind('click', function(ev) {
		var target = $( $(this).attr('href') ).get(0).offsetTop;
		$.mobile.silentScroll(target);
		return false;
	});