-#.panel.panel-default.post_panel
.tag-box.tag-box-v1.tag-box-v2.mob-post-container
	.row
		.col-xs-1
			.row
				.col-xs-12
					=button_to(upvote_post_path(p), remote:true, form:{'data-ajax'=>false}, class: 'mobile-upvote-btn', 'data-role'=>'none')  do
						.mobile-vote{class: "#{'upvoted' if user_signed_in? && current_user.voted_up_on?(p)}", id: "upvote-#{p.id}"}
							=fa_icon "chevron-up"
			.row
				.col-xs-12
					.mobile-net-vote
						%strong{id: "netvote-#{p.id}", class: "#{'upvoted' if user_signed_in? && current_user.voted_up_on?(p)} #{'downvoted' if user_signed_in? && current_user.voted_down_on?(p)} "} 
							=p.likes.size-p.downvotes.size
			.row
				.col-xs-12
					=button_to(downvote_post_path(p), remote:true, form:{'data-ajax'=>false}, class: 'mobile-downvote-btn', 'data-role'=>'none') do
						.mobile-vote{class: "#{'downvoted' if user_signed_in? && current_user.voted_down_on?(p)}", id: "downvote-#{p.id}"}
							=fa_icon "chevron-down"
				#post-ajax-chk
		.col-xs-9
			=link_to "#{p.title}", p, class: 'mobile-title-link', 'data-ajax'=>false
			-if p.source?
				%span.source_link
					(
					=p.source
					)
			.row.post_footer
				.col-xs-9
					.submited_ago_cont
						Submited
						=time_ago_in_words(p.created_at)
						ago by
						%strong 
							=link_to p.user.username, p.user
						-if p.tribe
							to
							%strong
								=p.tribe.name
				.col-xs-3
					.pull-right
						-if user_signed_in?
							=link_to "report", report_post_path(p), method: :post, class: 'mobile-report-post'
						
						-if user_signed_in? && current_user_poster?(p)
							=link_to "delete", delete_post_path(p), method: "delete", class: 'delete-post'
			.row
				.col-xs-12
					.mobile-comment-cont
						(
						=pluralize(comment_count(p.id), 'comment')
						)
		.col-xs-1.mobile-img-cont
			=link_to image_tag( p.pic.url(:thumb), alt: 'post photo', height:40, class: 'post-img'), p.link
	.clearfix
:javascript
	$('a.native-anchor').bind('click', function(ev) {
		var target = $( $(this).attr('href') ).get(0).offsetTop;
		$.mobile.silentScroll(target);
		return false;
	});