%div{'data-role'=> 'page','data-url'=> "#{request.path}", id: 'search-results', "data-dom-cache"=>"true"}
	= render 'layouts/mobile/panel'
	%div{"data-role" => "header"}
		= render 'layouts/mobile/header'
	.ui-content{role: "main", style:'padding-left:2px; padding-right:2px; padding-top:0px;'}
		=render 'layouts/mobile/flash'
		=form_tag search_path, :method => 'get' do
			.ui-field-contain#mobile-search
				%input#search{name: "searchquery", placeholder: "Search Posts", type: "search", value: ""}/

		-@post.each do |p|
			= render 'post', :p=> p
		=paginate @post
	%div{"data-role" => "footer"}
		= render 'layouts/mobile/footer'
