%nav.navbar{id: 'tribe-navigation'}
  .row
    .col-md-3
    .col-md-8
      %ul.nav.navbar-nav
        %li.custom-center
          =link_to "All", root_path, class: "tribe-nav-links #{'active' if @post_index}"
        -@tribes.each do |tr|
          %li.custom-center
            =link_to tr.name, tr, class: "tribe-nav-links #{'active' if @tribe && tr.name == @tribe.name}"
%nav.navbar{id: 'refine-nav'}
  .row
    .col-md-2{style:'padding-top:5px; padding-left:20px; padding-right:20px;'}
      #brand-refine-bar{style: 'display:none;'}
        =link_to image_tag('logo_150.png', height:40), root_path
    
    .col-md-5{id: "duration-header", style: 'padding-left:20px; padding-top:5px;'}
      %ul.nav.nav-pills.refine-top
        %li.refine-link{class: "#{'active' if !@duration_header }"}
          
          =link_to 'Hot', (if @post_index then root_path else @tribe end)

        %li.refine-link{class: "#{'active' if @duration_header && !@new_header}"}
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#", "data-toggle"=>"dropdown", "data-hover"=>"dropdown", "data-delay"=>"30","data-close-others"=>"false"}
            Top
            %b.caret
          %ul.dropdown-menu
            
            %li
              =link_to 'Today', if @post_index then top_path('today') else top_tribe_path(id: @tribe.id, duration: 'today') end
            %li.divider
            %li
              =link_to 'This week', if @post_index then top_path('week') else top_tribe_path(id: @tribe.id, duration: 'week') end
            %li.divider
            %li
              =link_to 'This month',if @post_index then top_path('month') else top_tribe_path(id: @tribe.id, duration: 'month') end
            %li.divider
            %li
              =link_to 'This year', if @post_index then top_path('year') else top_tribe_path(id: @tribe.id, duration: 'year') end
            %li.divider
            %li
              =link_to 'All time', if @post_index then top_path('all_time') else top_tribe_path(id: @tribe.id, duration: 'all_time') end
        %li.refine-link{class: "#{'active' if @new_header}"}
          =link_to 'New', if @post_index then new_path('current') else new_tribe_path(id: @tribe.id, duration: 'current') end

        %li
          =link_to (fa_icon "plus-circle", class: 'color-light-green', text: 'Submit a new link'), '#', id: 'submit-new-link-refine','data-toggle'=>"modal" ,'data-target'=>"#create-link-modal", style: 'display:none', class: 'btn btn-default'
    .col-md-5
      %ul.nav.navbar-nav.navbar-right{id: 'username-refine', style: 'display:none;'}
        %li{style: 'padding-right: 25px;'}
          -if user_signed_in?
            .btn-group{style: 'cursor:pointer;'}
              #user-name-nav{"data-toggle" => "dropdown", href: "#", "data-toggle"=>"dropdown", "data-hover"=>"dropdown", "data-delay"=>"10","data-close-others"=>"false"}
                =fa_icon "user"
                =current_user.username
                =fa_icon "caret-down"
              %ul.dropdown-menu
                %li
                  =link_to 'My Account', current_user
                %li.divider
                %li
                  =link_to 'Sign out', destroy_user_session_path, method: 'delete'      
          -else
            =link_to('Login', new_user_session_path)
      
    .col-md-4.hidden-div{id: 'user-duration-header'}
      %ul.nav.navbar-nav.navbar-right
        %li
          -if user_signed_in?
            =current_user.email
          -else
            =link_to('Login', new_user_session_path)
        %li
          -if user_signed_in?
            =link_to 'Sign out', destroy_user_session_path, method: 'delete'      
    

:javascript
  $(function(){
    var
      $createLink = $('#submit-new-link-refine'),
      $userLogin = $('#user-duration-header'),
      $brand = $('#brand-refine-bar'),
      $userName = $('#username-refine')
      $win = $(window),

      $filter = $('#refine-nav'),
      $filterSpacer = $('<div />', {
        "class": "filter-drop-spacer",
        "height": $filter.outerHeight()
      });
    $win.scroll(function(){     
      if(!$filter.hasClass('navbar-fixed-top remove-grey-bck-nav') && $win.scrollTop() > $filter.offset().top){
        $filter.before($filterSpacer);
        $filter.addClass("navbar-fixed-top remove-grey-bck-nav");
        $createLink.show();
        $brand.fadeIn();
        $userName.fadeIn();
        $userLogin.show();
      } else if ($filter.hasClass('navbar-fixed-top remove-grey-bck-nav')  && $win.scrollTop() < $filterSpacer.offset().top){
        $filter.removeClass("navbar-fixed-top remove-grey-bck-nav");
        $filterSpacer.remove();
        $createLink.hide();
        $userLogin.hide();
        $brand.fadeOut();
        $userName.fadeOut();

      }
    });
  });